PORT=8787
DB_PATH=./api/data/audoria.sqlite

STORAGE_BACKEND=s3
S3_BUCKET=example-bucket
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=example-access-key
S3_SECRET_ACCESS_KEY=example-secret-key
S3_FORCE_PATH_STYLE=true

VITE_API_BASE=http://localhost:8787

MUSICDL_SOURCES=NeteaseMusicClient,QQMusicClient,KuwoMusicClient,MiguMusicClient,JamendoMusicClient
MUSICDL_URL_SOURCES=Bilibili,Youtube
MUSICDL_SEARCH_TIMEOUT_MS=30000
MUSICDL_DOWNLOAD_TIMEOUT_MS=180000

IMPORT_CANDIDATE_TTL_MS=1800000
IMPORT_WORKER_POLL_MS=3000
